

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    cursor: pointer;
  }
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  
  .header {
      overflow: hidden;
      background-color: #F2EFEB;
      padding: 20px 10px;
    }
    
    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 100px;
    }
  
    .header a.active {
      background-color:rgba(0,46,35,1);
      color: white;
    }
    
    .header-right {
      float: right;
    }
    
    #mySearch{
        margin-left: 10%;
    }
  
    .topnav {
      overflow: hidden;
      background-color: #F2EFEB;
    }
    
    .topnav a {
      float: left;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      left: 0px;
      top: 0px;
      overflow: visible;
      width: 128px;
      white-space: nowrap;
      --web-animation: fadein 0.3s ease-out;
      --web-action-type: page;
      --web-action-target: shop_grid.html;
      cursor: pointer;
      font-family: AkzidenzGrotesk;
      font-style: normal;
      font-size: 20px;
      color: rgba(112,112,112,1);
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: rgba(0,46,35,1);
    }
    
    .topnav a.active {
      background-color: rgba(0,46,35,1);
      color: white;
    }
    
    .topnav input[type=text] {
      float: right;
      padding: 6px;
      border: none;
      margin-top: 8px;
      margin-right: 16px;
      font-size: 17px;
    }
    .product{
      position: fixed;
      position: relative;
      background-color: #F2EFEB;
    }
  
    .title-h{
      font-family: AkzidenzGrotesk;
      color: rgba(0,46,35,1);
      text-align: center;
      padding: 1em;
    }
  
  .product-grid4,.product-grid4 .product-image4{position:relative}
  .product-grid4{font-family:Poppins,sans-serif;text-align:center;border-radius:5px;overflow:hidden;z-index:1;transition:all .3s ease 0s}
  .product-grid4:hover{box-shadow:0 0 10px rgba(0,46,35,1)}
  .product-grid4 .product-image4 a{display:block}
  .product-grid4 .product-image4 img{width:60%;height:auto}
  .product-grid4 .social{width:180px;padding:0;margin:0 auto;list-style:none;position:absolute;right:0;left:0;top:50%;transform:translateY(-50%);transition:all .3s ease 0s}
  .product-grid4 .social li{display:inline-block;opacity:0;transition:all .7s}
  .product-grid4 .social li:nth-child(1){transition-delay:.15s}
  .product-grid4 .social li:nth-child(2){transition-delay:.3s}
  .product-grid4 .social li:nth-child(3){transition-delay:.45s}
  
  .product-grid4 .social li a{color:#222;background:#fff;font-size:17px;line-height:36px;width:40px;height:36px;border-radius:2px;margin:0 5px;display:block;transition:all .3s ease 0s}
  .product-grid4 .social li a:hover{color:#fff;background:rgba(0,46,35,1)}
  .product-grid4 .social li a:after,.product-grid4 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:20px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
  .product-grid4 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
  .product-grid4 .social li a:hover:after,.product-grid4 .social li a:hover:before{opacity:1}
  .product-grid4 .product-discount-label,.product-grid4 .product-new-label{color:#fff;background-color: rgba(0,46,35,1);font-size:13px;font-weight:800;text-transform:uppercase;line-height:45px;height:45px;width:45px;border-radius:50%;position:absolute;left:30px;top:15px;transition:all .3s}
  .product-grid4 .product-discount-label{right:10px;background-color:#d7292a}
  
  .product-grid4 .product-content{padding:25px}
  .product-grid4 .title{font-size:15px;font-weight:400;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
  .product-grid4 .title a{color:#222}
  .product-grid4 .title a:hover{color:rgba(0,46,35,1)}
  .product-grid4 .price{color:rgba(0,46,35,1);font-size:17px;font-weight:700;margin:0 2px 15px 0;display:block}
  .product-grid4 .price span{color:#909090;font-size:13px;font-weight:400;letter-spacing:0;text-decoration:line-through;text-align:left;vertical-align:middle;display:inline-block}
  .product-grid4 .add-to-cart{border:1px solid #e5e5e5;display:inline-block;padding:10px 20px;color:#888;font-weight:600;font-size:14px;border-radius:4px;transition:all .3s}
  .product-grid4:hover .add-to-cart{border:1px solid transparent;background:rgba(0,46,35,1);color:#fff}
  .product-grid4 .add-to-cart:hover{background-color:#505050;box-shadow:0 0 10px rgba(0,0,0,.5)}
    
  
  .footer {
    position: fixed;
    position: relative;
    font-family: AkzidenzGrotesk;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(38, 25, 28);
    color: white;
    text-align: center;
  }
  
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
  .Newsletter{
    background-color: #2D6C73;
    position: relative;
    font-family: AkzidenzGrotesk;  
    text-align: center;
    color: #ffffff;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  button {
    background-color: #45AFBA;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .file{
    background-color: #45AFBA;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: #2D6C73;
    color: aliceblue;
  }
  
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: #2D6C73;
    padding-top: 50px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #2D6C73;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }








/* ### Table Style ### */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#productList{
  display: none;
}
#orderList{
  display: none;
}
#insertProduct{
  display: none;
}
#listNewsLetter{
  display: none;
}